<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="CoreUI Bootstrap 4 Admin Template">
  <meta name="author" content="Lukasz Holeczek">
  <link rel="shortcut icon" href="http://coreui.io/demo/Ajax_Demo/img/favicon.png">
  <meta name="keyword" content="CoreUI Bootstrap 4 Admin Template">
  <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->

  <title>.::Register Page::.</title>

  <link href="http://coreui.io/demo/Ajax_Demo/vendors/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

  <!-- Main styles for this application -->
  <link href="http://coreui.io/demo/Ajax_Demo/css/style.css" rel="stylesheet">
  <!-- Styles required by this views -->

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

  <!-- Styles required by this views -->

</head>

<body class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <h1>Register</h1>
            <p class="text-muted">Create your account</p>
            <form role="form" id="f_register">
                <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="text" id="txtName" name="txtName" class="form-control" placeholder="Username">
                </div>

                <div class="input-group mb-3">
                <span class="input-group-addon">@</span>
                <input type="text" id="txtEmail" name="txtEmail" class="form-control" placeholder="Email">
                </div>

                <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-screen-smartphone"></i></span>
                <input type="tel" id="txtPhone" name="txtPhone" class="form-control" placeholder="Phone">
                </div>

                <div class="input-group mb-4">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" id="txtPassword" name="txtPassword" class="form-control" placeholder="password">
                </div>

                <div class="input-group mb-4">
                    <span class="input-group-addon"><i class="icon-symbol-male"></i></span>
                    <select id="gender" name="gender" class="form-control" style="border-radius:0px">
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-block btn-success">Create Account</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap and necessary plugins -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="http://coreui.io/demo/Ajax_Demo/vendors/js/bootstrap.min.js"></script>

  <script>
    $("#f_register").submit(function(e){
        $.ajax({
            url: "http://localhost:8080/user",
            method: "post",
            data: $(this).serialize(),
            success: function(data){
                console.log(data);
                if(data.error == false){
                    document.location.assign("http://localhost:8080");
                }
                else{
                    alert(data.message);
                }
            },
            error: function(err){
                console.log(err);
            }
        });

        e.preventDefault();
    });
  </script>

</body>
</html>